@tailwind base;
@tailwind components;
@tailwind utilities;

.grow {
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* Firefox: Minimal scrollbar */
  scrollbar-color: #888 #1a1a1a; /* Firefox: Thumb and track color */
}

.grow::-webkit-scrollbar {
  width: 8px; /* Narrow scrollbar width for Chrome, Edge, and Safari */
}

.grow::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded scrollbar edges */
}

.grow::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker thumb on hover */
}

.grow::-webkit-scrollbar-track {
  background: #000000; /* Scrollbar track (background) color */
}
